<!-- banner -->
<div class="banner">
  <div class="banner-content">
    <div class="logo">
      <a href="/">
        <img
          src="images/logo-icon.png"
          style="width: 15%; height: 15%; object-fit: cover"
          alt=""
        />
        <h1>Ministry of Mining</h1>
      </a>
    </div>
    <div class="top-nav">
      <span class="menu">MENU</span>
      <ul class="nav1 cl-effect-15">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/projects" data-hover="Projects">Projects</a></li>
        <li><a href="/sites" data-hover="Sites">Sites</a></li>
        <li><a href="/policies" data-hover="Policies">Policies</a></li>
        <!-- <li><a href="/contacts" data-hover="Contacts">Contacts</a></li -->
        <li><a href="/about" data-hover="About">About</a></li>
        <li><a href="/register" data-hover="Register">Register</a></li>
      </ul>
      <!-- script-for-menu -->
      <script>
        $("span.menu").click(function () {
          $("ul.nav1").slideToggle(300, function () {
            // Animation complete.
          });
        });
      </script>
      <!-- /script-for-menu -->
    </div>
    <div class="banner-slid">
      <script src="js/responsiveslides.min.js"></script>
      <script>
        // You can also use "$(window).load(function() {"
        $(function () {
          // Slideshow 4
          $("#slider3").responsiveSlides({
            auto: true,
            pager: true,
            nav: false,
            speed: 500,
            namespace: "callbacks",
            before: function () {
              $(".events").append("<li>before event fired.</li>");
            },
            after: function () {
              $(".events").append("<li>after event fired.</li>");
            },
          });
        });
      </script>
      <div id="top" class="callbacks_container">
        <ul class="rslides" id="slider3">
          <li>
            <div class="banner-info">
              <h5>Sustainable Mining Practices</h5>
              <p>
                At the Ministry of Mining, we prioritize sustainable mining
                practices to ensure responsible resource extraction. Through
                stringent regulations and collaboration with industry
                stakeholders, we promote environmentally friendly mining methods
                that protect our natural ecosystems and conserve valuable
                resources for future generations.
              </p>
            </div>
          </li>
          <li>
            <div class="banner-info">
              <h5>Empowering Local Communities</h5>
              <p>
                Our mining policies emphasize community engagement and
                empowerment. By fostering positive relationships with local
                communities, we aim to create sustainable socio-economic
                development opportunities. Through job creation, skills
                training, and community investment, we work hand in hand with
                communities to share the benefits of responsible mining.
              </p>
            </div>
          </li>
          <li>
            <div class="banner-info">
              <h5>Geological Survey and Exploration</h5>
              <p>
                The Ministry of Mining conducts extensive geological surveys and
                exploration to identify potential mineral deposits across the
                nation. By understanding our country's geology, we can
                strategically allocate resources, attract investment, and
                promote a thriving mining sector that contributes to economic
                growth and national development.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-address">
      <ul>
        <li>3Q2R+9GV , Lilongwe</li>
        <li class="phone-img">Phone : +265 1478 7854</li>
        <li>
          <a href="mailto:example@email.com">Email : mining@mw.gov</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- //banner -->
