<!DOCTYPE html>
<html>
  <head>
    <title>Ministry of Mining</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Ministry of Mining" />
    <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/modernizr.custom.js"></script>
    <!-- bootstarp-css -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <!--// bootstarp-css -->
    <!-- css -->
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <!--// css -->
  </head>
  <body>
    <%- include ('../partials/header.ejs') %> <%- body %>

    <!-- footer -->
    <div class="footer">
      <!-- container -->
      <div class="container">
        <div class="footer-info">
          <h3>Contact</h3>
          <p class="f-address">3Q2R+9GV, Lilongwe</p>
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="facebook twitter"> </a></li>
            <li><a href="#" class="facebook chrome"> </a></li>
            <li><a href="#" class="facebook pinterest"> </a></li>
          </ul>

          <p class="copyright">
            © 2023 Ministry of Mining. All rights reserved
          </p>
        </div>
      </div>
      <!-- //container -->
    </div>
    <!-- //footer -->
    <!-- <script src="js/lightbox-plus-jquery.min.js"></script> -->
    <script src="js/bootstrap.bundle.min.js"></script>
  </body>
</html>
