<!-- gallery -->
<div class="gallery-top">
  <!-- container -->
  <div class="container">
    <div class="gallery-info">
      <h3>Gallery</h3>
    </div>
    <div class="gallery-grids-top">
      <div class="gallery-grids">
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g1.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g1.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g2.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g2.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g3.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g3.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g4.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g4.jpg" alt=""
          /></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="gallery-grids gallery-grids-middle">
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g5.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g5.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g6.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g6.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g1.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g1.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g2.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g2.jpg" alt=""
          /></a>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="gallery-grids">
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g3.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g3.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g4.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g4.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g5.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g5.jpg" alt=""
          /></a>
        </div>
        <div class="col-md-3 gallery-grid">
          <a
            class="example-image-link"
            href="images/g6.jpg"
            data-lightbox="example-set"
            data-title=""
            ><img class="example-image" src="images/g6.jpg" alt=""
          /></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <!-- //container -->
</div>
<!-- //gallery -->
