<!-- services -->
<div class="services">
  <div class="services-top">
    <div class="services-info">
      <h3>Policies</h3>
    </div>
    <div class="welcome services-grid">
      <div class="welcome-left offer-left services-left">
        <h3>Policy Statement</h3>
        <p>
          Our organization is committed to conducting mining operations with
          utmost consideration for the environment. We recognize the importance
          of safeguarding ecosystems, natural resources, and biodiversity. This
          policy sets forth our commitment to minimize the environmental impact
          of our mining activities and adhere to all applicable environmental
          laws and regulations.
        </p>
      </div>
      <div class="welcome-right services-right"></div>

      <div class="clearfix"></div>
    </div>
    <div class="welcome new services-grid">
      <div class="welcome-left new-left services-left">
        <h3>Compliance and Regulations</h3>
        <p>
          We will comply with all relevant environmental laws, regulations, and
          permits applicable to our mining operations. Our team will stay
          informed about any updates or changes in environmental legislation and
          promptly implement necessary adjustments to ensure compliance.
        </p>
      </div>
      <div class="welcome-right new-right services-right-img"></div>
      <div class="clearfix"></div>
    </div>
    <div class="welcome services-grid">
      <div class="welcome-left offer-left services-left">
        <h3>Environmental Impact Assessments (EIAs)</h3>
        <p>
          Before commencing any new mining project or expanding existing
          operations, we will conduct thorough Environmental Impact Assessments
          (EIAs). These assessments will evaluate potential environmental
          impacts and identify mitigation measures to minimize negative effects.
        </p>
      </div>
      <div class="welcome-right services-right"></div>

      <div class="clearfix"></div>
    </div>
    <div class="welcome new services-grid">
      <div class="welcome-left new-left services-left">
        <h3>Pollution Prevention and Control</h3>
        <p>
          We will implement measures to prevent pollution and minimize the
          release of harmful substances into the air, water, and soil. Waste
          management practices will be adopted to reduce, recycle, and properly
          dispose of mining-related waste.
        </p>
      </div>
      <div class="welcome-right new-right services-right-img"></div>
      <div class="clearfix"></div>
    </div>
    <div class="welcome services-grid">
      <div class="welcome-left offer-left services-left">
        <h3>Biodiversity Conservation</h3>
        <p>
          We recognize the importance of protecting biodiversity and natural
          habitats. Our mining operations will avoid sensitive areas whenever
          possible, and we will work to restore and rehabilitate affected
          ecosystems.
        </p>
      </div>
      <div class="welcome-right services-right"></div>

      <div class="clearfix"></div>
    </div>
  </div>
  <div class="services-bottom">
    <!-- container -->
    <div class="container">
      <div class="services-bottom-info">
        <h3>Deep Mining</h3>
      </div>
      <div class="services-bottom-grids">
        <div class="col-md-4 services-bottom-grid">
          <div class="services-img">
            <img src="images/s1.png" alt="" />
          </div>
          <h5>Nullam mollis tortor euismod</h5>
          <p>
            Vivamus tellus quam placerat eu ornare vel varius at mauris vivamus
            vitae velit vitae elit posuere mattis nullam accumsan eros id
            facilisis.
          </p>
        </div>
        <div class="col-md-4 services-bottom-grid">
          <div class="services-img">
            <img src="images/s2.png" alt="" />
          </div>
          <h5>Nullam mollis tortor euismod</h5>
          <p>
            Vivamus tellus quam placerat eu ornare vel varius at mauris vivamus
            vitae velit vitae elit posuere mattis nullam accumsan eros id
            facilisis.
          </p>
        </div>
        <div class="col-md-4 services-bottom-grid">
          <div class="services-img">
            <img src="images/s3.png" alt="" />
          </div>
          <h5>Nullam mollis tortor euismod</h5>
          <p>
            Vivamus tellus quam placerat eu ornare vel varius at mauris vivamus
            vitae velit vitae elit posuere mattis nullam accumsan eros id
            facilisis.
          </p>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- //container -->
  </div>
</div>
<!-- //services -->
