<link href="../../../dist/css/style.min.css" rel="stylesheet" />
<div class="contact-top">
  <!-- container -->
  <div class="container">
    <div class="contact-info">
      <h3>Register Your Company</h3>
    </div>
    <div class="mail-grids">
      <div class="col-md-12 contact-form">
        <form action="/register" method="post">
          <div class="row">
            <div class="col-lg-12">
              <label class="text-start" for="companyName">Name</label>
              <input
                type="text"
                placeholder="Name of your Company"
                id="companyName"
                name="name"
                required=""
              />
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <label class="text-start" for="phone">Phone</label>
              <input
                type="text"
                placeholder="+265 123 456 789"
                id="phone"
                name="phone"
                required=""
              />
            </div>

            <div class="col-lg-6">
              <label for="email" class="text-start">Email</label>
              <input type="text" placeholder="Email" name="email" required="" />
            </div>
          </div>

          <div class="col-lg-12 p-0">
            <label for="desc" class="text-start">Company Description</label>
            <textarea
              id="desc"
              name="description"
              placeholder="Tell us about your company"
              required=""
            ></textarea>
          </div>

          <div class="col-lg-12 mt-3">
            <h4 class="text-start">Minerals you work with</h4>
            <div class="col text-start">
              <input
                type="checkbox"
                class="form-check-input"
                id="customControlAutosizing1"
                name="deposit"
                value="gold"
              />
              <label
                class="form-check-label mb-0"
                for="customControlAutosizing1"
                >Gold</label
              >
              <input
                type="checkbox"
                class="form-check-input"
                id="customControlAutosizing2"
                name="deposit"
                value="coal"
              />
              <label
                class="form-check-label mb-0"
                for="customControlAutosizing2"
                >Coal</label
              >
              <input
                type="checkbox"
                class="form-check-input"
                id="customControlAutosizing3"
                name="deposit"
                value="uranium"
              />
              <label
                class="form-check-label mb-0"
                for="customControlAutosizing3"
                >Uranium</label
              >
            </div>
          </div>

          <div
            class="col-lg-12 text-center"
            style="
              margin-top: 3rem;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <button
              class="btn btn-lg btn-success col-lg-10 text-light"
              type="submit"
            >
              APPLY
            </button>
          </div>
        </form>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <!-- //container -->
</div>
